/**
*
* create by @snhasani - Mondey 27 April 2015
*
**/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #838383;
    margin: 0;
}

a {
    text-decoration: none;
}

/*clearfix*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

header {
    padding: 50px 5%;
    text-align: center;
}

.main {
    margin: 0 auto;
    max-width: 70em;
}

.logo {
    color: #3ECCFF;
    font-size: 5rem;
    margin: 0;
}

.note-input-wrapper {
    padding: 0 5%;
    margin-bottom: 40px;
}

.note-input {
    background-color: #7B7A7A;
    border: 1px solid #939393;
    border-top-color: #6E6E6E;
    color: #e7e7e7;
    font-size: 2rem;
    padding: 7px 9px 5px;
    width: 100%;
}

.note-input:focus {
  outline: #CFCFCF auto 5px;
}

.note-list {
    list-style-type: none;
    margin: 0;
    padding: 0 5%;
}

.note {
    border: 1px solid #777171;
    border-top-color: #888;
    display: table;
    margin-bottom: 20px;
    box-shadow: 0px 7px 9px #646464;
    min-width: 100%;
}

.note:last-child {
    margin-bottom: 0;
}

.note__remove-btn {
    background-color: #7B7A7A;
    border-right: 1px solid #888;
    color: #525252;
    display: table-cell;
    font-size: 30px;
    font-family: arial;
    padding: 0 1rem;
    width: 30px;
    vertical-align: middle;
}

.note__remove-btn:hover {
    color: #FF3E3E;
    font-weight: bold;
    text-shadow: -1px 2px 3px #5F5F5F;
}


.note__content {
    background-color: #7B7A7A;
    border-left: 1px solid #717171;
    padding: 8px 8px 3px;
    text-align: left;
}

.note__content > .text {
    color: #F4E927;
    font-family: tahoma, sans-serif;
    font-size: 1.8rem;
    padding-bottom: 8px;
    margin: 0;
    word-break: break-word;
}

.note__content > .date {
    color: #474747;
    font-size: 1.3rem;
    margin: 0;
}


@media (min-width: 30em) { /*480px*/

    .note {
        min-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 50em) { /*800px*/

    .logo {
        font-size: 7rem;
    }

    .note-list {
        margin: 40px auto 0;
    }

    .note {
        min-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}